/* Importação da fonte "Inter" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

/*PARTE COMUM DAS DUAS ABAS*/
/* Resetando margens e paddings para evitar problemas de layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Define flexbox a principal estrutura*/
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/*Barra superior*/
.superior { 
  border: 2px solid #FF731A;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: bold;
  color: #FF731A;
  margin: 25px;
  height: 17%;
  width: 95vw;
}

/*Conteúdo principal da lateral*/
.main-content { 
  display: flex;
  flex: 1;
}

/*Barra lateral*/
.lateral {
  border: 2px solid #FF731A;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8%;
  height: 90vh;
  margin-top: -134px;
  margin-left: 25px;
}

/*Posicionamento dos ícones*/
.icon{
  display: flex;
  flex-direction: column; /* Mantém os ícones empilhados */
  align-items: center;
  position: absolute;
  bottom: 45px; /* Fixa no rodapé da lateral */
  left: 65px; 
}

.icon img {
  width: 35px;
  height: auto;
  margin: 5px 0;
}

/*Detalhes da logo*/
.logo {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo img {
  width: 55px;
  height: auto;
  margin-left: 28px;
}

/*Ícone e link p/ email*/
.letter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.letter a {
  font-family: 'Inter', sans-serif;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
  color: #FF731A;
}

.letter img {
  width: 35px;
  height: auto;
  margin-right: 5px;
}

/*FIM DA PARTE COMUM*/

/*ABA PRINCIPAL*/
/*Espaço onde o título e sub ficam*/
.content {
  display: flex;
  flex-direction: column;  /* Organiza em colunas */
  align-items: flex-start;  /* Alinha o conteúdo à esquerda */
  justify-content: flex-start;  /* Alinha o conteúdo ao topo */
  margin-top: 60px;
  margin-left: 75px;
  padding: 20px;
}

/*Texto principal e sub*/
.titulo{
  font-family: 'Montserrat', sans-serif;
  color: #FF731A;
  margin-right: 20px; /* Espaçamento entre o texto e a imagem */
}
.texto {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: smaller;
  margin-bottom: 20px; /* Espaço abaixo do texto */
}

/*Foto equipe*/
.engnet{
  display: flex;
  justify-content: flex-end;
  position: relative;

}
.engnet img {
  width: 548px;
  height: auto;
  position:absolute;
  top: 52px;
  left: 102px;
}
